body {
  text-align: center;
  margin: auto;
  font-family: 'Bubblegum Sans';
  padding: 10px;
}

.title {
  background-color: rgba(108,117,125,0.8);
}

#content {
  color: black!important;
  opacity: 1;
}
.form-label{
  text-align: left!important;
}

.btn{
  width:30%;
  margin:10px;
}
form {
  padding:10px;
}
.btn-success{
  background-color:#469487;
}
.btn-annuler{
  background-color:#df5a4b;
  color:white;
}
